@model IEnumerable<RegionDto>

<h1>Regions</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Regions" asp-action="Add">Add Region</a>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Region Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <td>@region.Name</td>
                <td>@region.Code</td>
                <td style="width:200px; max-height:200px"><img src="@region.RegionImageUrl" alt="Region Image" class="img-fluid region-image" /></td>
                <td>
                    <a class="btn-light" asp-controller="Regions" asp-action="Edit" asp-route-id="@region.Id">Edit</a>
                    <a class="btn-outline-danger" asp-controller="Regions" asp-action="Delete" asp-route-id="@region.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Response != null)
{
    <p>@ViewBag.Response</p>
}
